<div class="navbar navbar-fixed-bottom" id="footer">
	<div class="container" id="footerContent">
		<p class="navbar-text pull-left"><span id="date_time"></span></p>
		<p class="navbar-text pull-right">Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2014 | &trade;Team Haha | All Rights Reserved</p>
	</div>
</div>