<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="icon" type="image/gif" href="images/LGIcon.gif" />

<!-- Behavioral Meta Data -->
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome">
<meta name="robots" content="Home, follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
   
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/lottoStyles.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript" src="js/date_time.js"></script>

