<!-- Scripts -->
<script type="text/javascript">window.onload = date_time('date_time');</script>
<script src="js/parallax.min.js"></script>
<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src = "js/bootstrap.js"></script>
<script>
	// Start or Launch the scene
	var scene = document.getElementById('scene');
	var parallax = new Parallax(scene);
		
	$(function(){
		$('#numViews').tooltip();		
	});
	
	$(document).ready(function(){
	    $(window).load(function(){
	        $('${toggle}').modal('show');
	    });
	});
</script>