#HomeBG{
    height: auto;
    width: 100%;
    position: fixed;
	text-align: center;
    z-index: -100;
    left: 0px;
	right: 0px;
    top: 0px;
    min-height: 100px;
    min-width: 1040px;
}

#logoHeader{
    max-height: 45px;
    position: fixed;
    top: 3px;
    margin: 0;
}

#loginButton{
	width: 100%;
}
#footer{
	background: rgba(0,0,0,0.4);
	color: #AAAAAA;
}
#lottoText{
	text-indent: 30px;
	color: #f0f0f0;
}
#jumboLogo{
	display: block;
	float: none;
	margin-right: auto;
	margin-left: auto;
	padding-left: ;
	max-height: 80px;
}
#jumboPcso{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 55px;
	padding-left: ;
	max-height: 80px;
}
#foo{
	color: white;
}
#pageTitle{
	margin-top: 60px;
}
#errorImage{
    min-width: auto;
}
.tweetButton{
	margin-top: 15px;
}
.paypalButton{
	margin-top : 100px;
}
.pad50{
    padding: 30px;
}
.margRight{
    margin-right: 150px;
}
.margLeft{
    margin-left: 110px;
}
.translucentwhite{
    background: white;
    background: rgba(999, 999, 999,.3);
}
.scrollable{
    padding: 20px;
    height: 300px;
    overflow: auto;
}
.simpleEngel{
	font-family: EngelLight;
	color: black;
}
.largeInline{
	font-family: IntroInline;
	color: black;
	font-size: 80px;
}
.moneyFont{
	color: #ffc504;
	font-family: IntroInline;
}
.blackBg{
	background-color: #101010;
	background: rgba(0,0,0,0.4);
}
.wrapper-signup{
	padding-left: 50px;
	padding-right: 50px;
}
.simple__layout-inner {
	background-color: #FFF;
	padding: 20px;
	border-radius: 4px;
}
.parCenter{
	text-align: center;
	color: #004040;
}
.parBlack{
	color: black;
}
.firstObject{
	margin-top: 50px;
}
.lastObject{
	margin-bottom: 60px;
}
.inLineHeading{
	font-family: IntroInline;
	text-align: justify;
	margin-top: 50px;
	margin-bottom: 30px;
	text-indent: 50px;
}
.parIndented{
	font-family: EngelLight;
	text-align: justify;
	text-indent: 50px;
	color: black;
}
.questionLine{
	font-style: italic;
	text-indent: 10px;
	color: #004040;
	text-shfadow: 1px 1px #000000;
}
.specialJumbo{
	height: 100%;
	margin-bottom: 0px;
}
.jumbotron-inverse{
	margin-top: 48px;
	background-color: #101010;
	background: rgba(0,0,0,0.4);
	color: #f0f0f0;
	opacity: .8;
}
.modal-content{
	opacty: .95;
}
.modal-header-signup{
    font-family:monospace;
	font-style: normal;
	font-weight: lighter;
    color: #dedede;
	background-image: url(../images/blueBg.jpg);
	background-size: cover;
}
.modal-header-inverse{
	font-family: IntroInline;
	font-style: normal;
	font-weight: lighter;
	color: #ffbe00;
	
    background-color: #101010;
    background: rgba(0,0,0,0.9);
}
.modal-footer-inverse{
	background-color: black;
	opacity: .85;
}
.modal-body-inverse {
	font-family: EngelLight;
	background-color: #101010;
	background: rgba(0,0,0,0.85);
	color: white;
}
.navbar-inverse{
    opacity: .75;
    background-color: #000000;
    outline-style: hidden;
}
.btn-circle{
	opacity: .7;
	width: 50px;
	height: 50px;
	text-align: center;
	color: orange;
	padding: 6px 0;
	font-size: 20px;
	line-height: 1.42;
	border-radius: 25px;
	background-color: black;
}
.btn-circle:hover{
	opacity: .8;
	background-color: orange;
	color: black;
}

.layer:nth-child(1) {
	text-align: center;
	margin-top: 135px;
	margin-left: -15px;
}
.layer:nth-child(2) {
	text-align: center;
    margin-left:50px;
	margin-top: 108px;
}
.layer:nth-child(3) {
    margin-left: 95px;
	margin-top: 213px;
	font-family: 'IntroInline';
	color: black;
}
.layer:nth-child(4) {;
    margin-left: 285px;
	margin-top: 140px;
	font-family: 'IntroInline';
	color: black;
}
.layer:nth-child(5) {
    margin-left: 473px;
	margin-top: 196px;
	font-family: 'IntroInline';
	color: black;
}
.layer:nth-child(6) {
    margin-left: 676px;
	margin-top: 210px;
	font-family: 'IntroInline';
	color: black;
}
.layer:nth-child(7) {
    margin-left: 908px;
	margin-top: 118px;
	font-family: 'IntroInline';
	color: black;
}
.layer:nth-child(8) {
	margin-left: 1035px;
	margin-top: 246px;
	font-family: 'IntroInline';
	color: black;
}
.layer:nth-child(9) {
	
	text-align: center;
	display: block;
	margin-top: -70px;
	margin-left: 294px;
}

@font-face {
  font-family: 'IntroInline';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/IntroInline.otf);
}

@font-face{
	font-family: EngelLight;
	src:url(../fonts/EngelLight_ltd.ttf);
}